/* :global(header ul) {
  margin: 0;
  padding: 0;
}

:global(header li) {
  font-size: 14px;
  display: inline;
  margin: 0 10px;
}

:global(header a) {
  color: black;
}

:global(header a:hover) {
  color: gray;
} */

/* #photo {
  text-align: center;
  padding: 20px;
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  overflow: hidden;
  margin: 30px auto;
}

.profile-pic img {
  width: 100%;
  height: auto;
} */

:global(ul) {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

:global(li) {
  margin: 0 10px;
}

:global(a) {
  color: white;
  text-decoration: none;
}

:global(a:hover) {
  color: lightgray;
}

/* #gh-link img,
#tg-link img,
#email img {
  height: 50px;
  width: 50px;
} */

:global(h1) {
  text-align: center;
  font-size: 50px;
  margin: 0;
  letter-spacing: 5px;
}

:global(h2) {
  font-weight: lighter;
}

:global(#arrow-top,
#arrow-about,
#arrow-skills) {
  text-align: center;
  margin: 40px auto;
  padding: 0;
}


